[submodule "Crossoverse.Toolkit.Unity"]
	path = Crossoverse.Toolkit.Unity
	url = https://github.com/CrossoverseLabs/Crossoverse.Toolkit.Unity.git
[submodule "Crossoverse.Core"]
	path = Crossoverse.Core
	url = https://github.com/CrossoverseLabs/Crossoverse.Core.git
[submodule "Crossoverse.SignalStreaming"]
	path = Crossoverse.SignalStreaming
	url = https://github.com/CrossoverseLabs/Crossoverse.SignalStreaming.git
